@use 'tokens';
@use 'mixins';

@import 'react-grid-layout/css/styles.css';
@import 'react-resizable/css/styles.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--color-bg-app);
  color: var(--color-text-primary);
  min-height: 100vh;
  transition: background-color var(--transition-normal), color var(--transition-normal);
}